<% if current_user %>
  <p><%= link_to "Logout", logout_path, method: :delete %></p>
  <center>
  <h2>Existing Users</h2>
  <div id="existing_users">
    <% @users.each do |user| %>
      <p><%= user.email %></p>
    <%end%>
  </div>
</center>

<% else %>
  <p><%= link_to "Login", login_path %></p>
  <p><%= button_to "Create new user", register_path, method: :get %></p>
<% end %>

